body {background-image: url('masaaki-komori-fzHaSRdAi68-unsplash.jpg');
background-size: 100%}

div{display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  }


h1{text-align: center;
  font-size: 50px; 
  color: red; 
  background-color: pink;
  padding: 20px;
border-color: black;
border-width: 10px;
border-style: ridge;
text-transform: uppercase;
}

h2{text-align: center;
  color: white;
  background-color: red; 
  padding: 20px;
  border-color: black;
  border-width: 10px;
  border-style: ridge
}

h3{align-items: center;
  color: white;
  background-color: red; 
  padding: 20px;
border-color: black;
border-width: 10px;
border-style: ridge;

}

p{padding: 20px;
  color: white; 
  background-color: black; 
border-color: red;
border-width: 10px;
border-style: ridge
  }

a{color: red}
li{color: white}
aside{background-color: black;

